@{
    ViewBag.Title = "Home Page";
}


<div id="chart"></div>

<script type="text/javascript" src="https://app.seats.io/chart.js"></script>
<script>
    var chart = new seatsio.SeatingChart({
        divId: "chart",
        publicKey: "829ec0d2-42b6-481e-86d4-b23b7f8f7691",
        event: "76693f0a-2dc9-4eb7-b343-648575662d3e"
    }).render();
</script>