.fc-event {
  cursor: pointer;
}
#deleteEvent:hover {
  border-color: red;
  background-color: white;
}
#deleteArtist:hover {
  border-color: red;
  background-color: white;
}

#editEvent:hover {
  border-color: #337ab7;
  background-color: white;
  color: #337ab7 !important;
}

#chartEditor{
    height: 1000px;
}

#editInPop {
  cursor: pointer;
  padding-right: 20px;
}
#cancelInPop {
  cursor: pointer;
}
#customBgPop {
  color: white;
}

.adminLogo {
    height: 50px;
    margin-top: -15px;
}

.navbar-inverse {
    margin-bottom: 0;
}

.b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                   opacity: 0;
    }
    .b-lazy.b-loaded {
                   opacity: 1;
    }

.loading {
    background: #F4F4F4 url('../Content/img/2.gif') center center no-repeat;
    height: 279.85px;
}

.pr10 {
    padding-right: 10px;
}

.publicationBtn {
    margin-top: 25px;
}

.content > .customPanel {
    display:none;
}

.content > .customPanel:target{
    display: block;
}

svg {
    width:100%;
    height: 100%;
 }
.adminPanelLi{
    color: #fff;
    cursor: default;
}

.publishInfoStyle{
    font-size: 20px;
    padding-left: 39px;
    color: #4C96D7;
}

.close-animatedModal{
    text-align: right;
        padding-right: 50px;
    padding-top: 15px;
}

.closeModal{
    cursor: pointer;
    color: #4f5254;
}

.closeModal:hover{
    color: #1a1b1c
}

.eventContainer{

}

.event-details-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
}
.eventContainer {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.event-details-body {
  position:absolute;
  top:45px; 
  bottom:45px;  
  left:0;
  right:0;
  overflow-y:auto;
}
.event-details-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.loaderTime{
    text-align: center;
    font-size: 25px !important;
    color: black !important;
}

.popEdit{
    padding: 10px 10px 10px 10px;
    border-right: 1px solid grey;
}

.popover{
    width: 300px;
    text-align: center;
    font-size: 17px;
}

.pubImg{
    margin-bottom: 40px;
}

.styleChart{
    border: 1px solid #e5e5e5;
    height: 350px;
    width: 600px;
}

.styleChart:hover{
        box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.styleChart svg{
    margin-bottom: 50px;
}

.popDelete{
    padding: 10px 10px 10px 10px;
}

.popover-content{
    padding: 0px;
}

.popover-content .row{
    margin: 0px;
}

.popEdit:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    color: black;
}

.popDelete:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    color: black;
}

.mt-50{
    margin-top: 50px;
}

.eventThumbnail{
   padding-top: 20px;
}

.eventThumbnail:hover{

    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}