@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="confirmContainer">
                <div class="signup">
                    <div class="header">
                        <img src="~/Content/img/tickets.png">
                        <h2 class="signup-title">Potwierdź swój adres Email</h2>
                        <p>Sprawdź swoją skrzynke odbiorczą</p>
                        <p>Gdy potwierdzisz swój adres email, będziesz mógł swobodnie korzystać z serwisu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
